@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    box-sizing: border-box; /* Faz com que o padding e a borda não aumentem o tamanho do elemento */
}

body {
    font-family: 'Roboto Slab';
    background-color: black;
    color: white;

}

header {
    background-color:#363636; /* Define a cor de fundo */
    color: #fff; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 1rem; /* Define um espaçamento interno */
}

nav ul {
    list-style: none; /* Remove a bolinha da lista */
}

nav li {
    display: inline; /* Faz com que os itens da lista fiquem na mesma linha */
    margin-right: 20px; /* Define um espaçamento entre os itens */
}

nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #000000; /* Define a cor do texto */
    font-weight: bold; /* Define o peso da fonte */
}

main {
    padding: 20px; /* Define um espaçamento interno */
    overflow: hidden; /* Faz com que o elemento não ultrapasse o tamanho do pai */
}

.card {
    width: calc(33.33% - 20px); /* 33.33% - 40px */
    margin: 10px; /* Define um espaçamento externo */
    padding: 20px; /* Define um espaçamento interno */
    background-color: #363636; /* Define a cor de fundo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
    text-align: center; /* Centraliza o texto */
    float: left; /* Faz com que os elementos fiquem na mesma linha */
}

.card img {
    max-width: 100%; /* Define a largura máxima da imagem */
    height: 300px; /* Define a altura da imagem */
}

.card button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer; /* Muda o cursor do mouse */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.card button:hover {
    background-color:  #00a8ff; /* Muda a cor de fundo ao passar o mouse */
    color: rgb(0, 0, 0);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

#meuLink {
    display: inline-block;
    padding: 10px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
  }
#send{
  color: #ffffff;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
}

#send:hover{
  background-color: #000000;
  color: white;
}
  
  #meuLink:hover {
    background-color: rgb(0, 0, 0);}

.formulario{
    background-color: #363636;
    color: #ffffff;
}

/* estilos.css */

/* Formulário */
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #363636; /* Define a cor de fundo */
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  overflow: hidden;
}

form fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

form legend {
  font-weight: bold;
  color: #777;
}

/* estilos.css */

/* Campos de Entrada de Texto */
.input-container {
    margin-bottom: 10px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
}

/* estilos.css */

/* Componentes Checkbox e Radio */
.radio-group label {
    display: inline;
    margin-right: 10px;
    font-weight: normal;
  }
  
  .input-check {
      display: inline-block;
      margin-right: 10px;
  }
  
  .input-check input[type="checkbox"] + label {
      display: inline-block;
      font-weight: normal;
  }

  /* estilos.css */

/* Componentes Textarea e Select */
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permite redimensionar verticalmente o textarea */
    height: 120px; /* Altura inicial do textarea */
  }
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* estilos.css */

/* Botões */
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer; /* Adiciona um cursor de ponteiro */
  }
  
  /* Botão de Limpar */
  button[type="reset"] {
    background-color: #6c757d;
  }
  
  /* Botão de Enviar */
  button:hover {
    background-color: #0056b3;
  }


 /*Contato*/


  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #363636;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #363636;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #363636;
    padding: 20px;
  }


